body {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  background: #4086AA;
  color: black;
  margin: 3em;
}

h1 {
  font-size: 4em;
}

section {
  width: 50%;
  background-color: #91C3DC;
  margin: 0 auto;
}

div {
  width: 100%;
  margin: 20px auto;
}

input, button {
  background: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 2em;
  font-family: monospace;
  font-weight: bold;
  width: 200px;
  margin: 25px 5%;
}

ul {
  width: 60%;
  background: white;
  margin: 0 auto;
  text-align: left;
  list-style: square;
}

li {
  margin: 10px 5px;
  font-size: 2em;
}

ul input {
  padding: 0 5px;
  font-size: .8em;
}

ul button {
  width: 150px;
  padding: 0;
  font-size: .8em;
}

.edit, .remove {
  color: blue;
  text-decoration: underline;
  font-size: .6em;
  margin: 0 15px;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  height: 50px;
  width: 200px;
}

.done {
  color: grey;
  text-decoration: line-through;
}

.hidden {
  display: none;
}
